<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="eatingImpl" class="com.usdj.demo.aop.aspectj04.EatingImpl"/>

    <bean id="eatingAspect" class="com.usdj.demo.aop.aspectj04.EatingAspect"/>

    <aop:config>
        <aop:aspect ref="eatingAspect">
            <aop:around method="around" pointcut="execution(* com.usdj.demo.aop.aspectj04.EatingImpl.*(..))"/>
        </aop:aspect>
    </aop:config>

</beans>
